body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("http://i.imgur.com/V998iE4.png") no-repeat fixed 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;
  border-radius:10px;*/
  position:absolute;
}

.blinkyDancer{
  max-width: 10%;
  max-height: 10%;
  position:absolute;
}

.popDancer{
  border:50px solid red;
  position:absolute;
}

.hopDancer{
  border:80px solid purple;
  position:absolute;
}